body {
    font: 16px sans-serif;
    padding-bottom: 15px;
    background-color: #774898;
    padding:0px;
  
}

/*
.mainbox{
    margin: 80px auto;
    max-width: 440px;
    background-color: white;
    border-radius: 20px;
    padding:48px;
}
*/

#bodybox {
    margin: 100px auto;
    color:#00a8b5;
    max-width: 320px;
    font: 16px;
/*    border-radius: 20px;*/
    padding:16px;
    font-family: 'Inconsolata', monospace;
}

.chatlog {
   font: 14px;
}

input{
    font: 16px;
    height: 22px;
    width: 100%;
    padding:8px;
    border-radius: 40px;
    height:36px;
    font-family: 'Inconsolata', monospace;
}

p{line-height:18px;}

pre {
  background-color: #f0f0f0;
  margin-left: 20px;
}
.bodyimg{
    position:absolute;
    margin: -50px auto;
    width:100%;
/*
    display:flex;
    justify-content: center;
*/
}
/* body group*/
.pchead{ 
    max-width:620px;  
    height:auto;  
    position:absolute;
    left:25%;
    z-index:-1;
}
.body{
    width:720px;  
    height:auto; 
    position:absolute;
    left:17%;
    top:120px;
    z-index:-2;
}
.fightL{
    position:absolute;
    top:720px;
    z-index:-2;
    left:2%;
    transform: rotate(-10deg);
}

.fightR{
    position:absolute;
    right:12%;
    top:720px;
    z-index:-2;
}
.video-1{
    position:absolute;
    top:700px;
    z-index:2;
    left:16%;
    transform: rotate(-10deg);
    border: solid 10px white;
    border-radius: 20px;
    background-color:white;
    
}
.video-2{
    position:absolute;
    right:12%;
    top:700px;
    z-index:0;
    transform: rotate(0deg);
    border: solid 10px white;
    border-radius: 20px;
    background-color:white;
}
.title{
    position:absolute;
    z-index:1;
    font-size: 100px;
    width:100%;
    top:430px;
    text-align:center;
    color:#fbb901;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 2px 5px 20px #5A357C;
    
}
.ascii-art {
    font-family: 'Inconsolata', monospace;
    white-space: pre;
    color:pink;
    font-size:16px;
    position:absolute;
    font-weight:600;
}
.bubble1{
    left:20%;
}
.bubble2{ 
    right:8%;
    top:400px;
}
.bubble3{ 
    left:8%;
    top:640px;
    z-index:3;
}
.robot{
    top:700px;
    left:30%;
}
.robothead{
    color:white;
    top:640px;
    left:33%;
    font-size:20;
}
.dialogue{
    text-align:center;
    position:absolute;
    font-size: 14px;
    z-index:-9;
    font-family: 'Inconsolata', monospace;
    color:white;
    opacity:0.5;
    width:40%;
    top:1000px;
    line-height:28px;
    left:30%
    
}



/*----responsive----*/
@media  (min-width: 1440px) {
    
    
}



@media  (max-width: 375px) {
    body{
        overflow-x:hidden;
    }
    #bodybox{
        width:240px;
        font-size:2;
        position:absolute;
        z-index:5;
/*        margin-top:-4px;*/
        left:16%;
    }
    input{
        padding:4px;
        height:28px;
    }
    .bodyimg{
        margin-top:20px;
    }
    .pchead{ 
        max-width:400px;
        left:-4%;
    }
    .body{
        left:-30%;
        width:540px
    }
    .title{
        width:100%;
/*        left:20%;*/
        text-align:center;
        font-size:60px;
        top:300px;
    }
    .fightL{
        top: 900px;
        left:-40%;
    }
    .video-1{
        top:880px;
        transform: rotate(-5deg);
    }
    .fightR{
        top: 1200px;
        right:-4%;
        
    }
    .video-2{
        top: 1150px;
        left:50%;
        transform: rotate(10deg);
        
    }
    .dialogue{
        width:80%;
        left:16px;
        text-align:left;
        top:960px
        position:absolute;
        
    }
}